@page "/auth"

@inherits AuthenticationBaseComponent<Auth>
@using CodeMonkeys.CMS.Public.Components.Shared
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Auth</PageTitle>

<UserViewer>
    <h1>You are authenticated</h1>

    <AuthorizeView>
        Hello @context.User.Identity?.Name!
    </AuthorizeView>
</UserViewer>