@page "/"
@using CodeMonkeys.CMS.Public.Components.Shared
@inherits BaseComponent<Home>
@rendermode InteractiveServer

<PageTitle>Hem</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        <VisitorViewer>
            <StartPage />
        </VisitorViewer>
    </NotAuthorized>

    <Authorized>
        <UserViewer ShowReturnButton="false">
            <div class="container mt-5 content-layout">

                <div class="left-section">
                    <h1>Skapa Fantastiska Webbmiljöer</h1>
                    <p>Vår produkt ger utvecklare möjligheten att enkelt skapa exceptionella webbmiljöer. Oavsett om du bygger en enkel webbplats eller en komplex webbapplikation, erbjuder vår plattform de verktyg du behöver för att designa, anpassa och lansera vackra och responsiva sidor. Med flexibla mallar och sömlös integration kan du fokusera på det som är viktigast – att förverkliga din kreativa vision.</p>
                </div>

                <div class="right-section">
                    <img src="/CMS2.png" alt="Min Bild" class="responsive-image">
                </div>

                <div class="bottom-section">
                    <h2>Vad är ett CMS-system?</h2>
                    <p>Ett Content Management System (CMS) är ett verktyg som låter användare skapa, hantera och ändra innehåll på en webbplats utan att behöva skriva kod. Med ett CMS kan du enkelt uppdatera text, bilder och andra element på din webbplats via ett användarvänligt gränssnitt. Systemet hanterar backend-processer som databashantering och sidrendering, vilket gör det möjligt att snabbt publicera och redigera innehåll.</p>
                    <p>Ett CMS fungerar genom att separera innehållet från designen. Detta innebär att du kan byta utseendet på din webbplats utan att påverka själva innehållet, eller uppdatera innehåll utan att röra designen. Det är ett kraftfullt verktyg för både utvecklare och innehållsskapare som vill ha full kontroll över sina webbplatser utan att kompromissa med användarvänligheten eller flexibiliteten.</p>
                </div>
            </div>
        </UserViewer>
    </Authorized>
</AuthorizeView>
