@page "/modal-test3"
@using CodeMonkeys.CMS.Public.Components.Shared.UI
@rendermode InteractiveServer

<style>
    .modal-test {
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 5px;
        margin: 20px;
        border-width: 1px;
    }
</style>

<div class="modal-test">
    <button class="btn btn-info" @onclick="() => Show()">Show modal</button>
    @if (!string.IsNullOrEmpty(Message))
    {
        <p>@Message</p>
    }

    <ConfirmationDialog @ref="_confirmationDialog" 
                        Title="Confirm Delete"
                        OnConfirm="OnDeleteConfirmed"
                        OnCancel="OnDeleteCancelled">
    </ConfirmationDialog>
</div>

@code {
    public string Message { get; set; }
    private ConfirmationDialog _confirmationDialog;

    private void Show()
    {
        _confirmationDialog.Show();
        StateHasChanged();
    }

    private void Hide()
    {
        _confirmationDialog.Hide();
        StateHasChanged();
    }

    private void OnDeleteCancelled()
    {
        Message = "You canceled the delete";
        Hide();
    }

    private void OnDeleteConfirmed()
    {
        Message = "You confirmed the delete";
        Hide();
    }
}