@page  "/pagevisits/{siteId:int}"

@using CodeMonkeys.CMS.Public.Components.Shared
@using CodeMonkeys.CMS.Public.Shared.Entities
@using CodeMonkeys.CMS.Public.Shared.Services
@inherits ContentBaseComponent<Home>
@rendermode InteractiveServer

<UserViewer>
    <h3>PageStats</h3>

    <p>This component demonstrates how to create a simple page that displays statistics about the pages.</p>

    <table>
        <thead>
            <tr>
                <td>Page Name</td>
                <td>Visits</td>
            </tr>
        </thead>
        <tbody>
            @foreach (PageStats pageStats in Pages ?? [])
            {
                <tr>
                    <td>@pageStats.PageUrl</td>
                    <td>@pageStats.PageVisits</td>
                </tr>
            }
        </tbody>
    </table>


</UserViewer>

@code 
{
    [Parameter]
    public int SiteId { get; set; }
    private IEnumerable<PageStats>? Pages { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Pages = await PageStatsService.GetPageStatsAsync(SiteId);
    }
}