@page "/content/{webPageId:int}"
@using CodeMonkeys.CMS.Public.Shared.Repository
@inherits ContentBaseComponent<SiteContentViewer>
@rendermode InteractiveServer

<VisitorViewer  Title="@WebPage?.Title">
    @if (WebPage != null)
    {
        @foreach(var section in WebPage.Sections)
        {
            <div class="section-containers">
                @(section.RenderContent())
            </div>
        }
    }
</VisitorViewer>
