<div class="StartPage" >
        <div class="StartPage-div0" id="section0">
            <h1>Public</h1>
            <h4>Enkelt att skapa, Kraftfullt att publicera</h4>
        </div>

        <div class="StartPage-div1" id="section1">
            <div class="StartPage-div-grid">
                <div>
                    <h1>Om Verktyget</h1>
                    <p>Lorem ipsum dolor sit amet consectetur. Scelerisque egestas id lectus facilisis in sapien ac dui. Sed curabitur urna senectus senectus dapibus tristique. Magna pretium elit netus velit leo facilisis dignissim bibendum eleifend. Non consectetur proin neque in cras lobortis.
                    Lorem ipsum dolor sit amet consectetur. Scelerisque egestas id lectus facilisis in sapien ac dui. Sed curabitur urna senectus senectus dapibus tristique. Magna pretium elit netus velit leo facilisis dignissim bibendum eleifend. Non consectetur proin neque in cras lobortis.
                    Lorem ipsum dolor sit amet consectetur. Scelerisque egestas id lectus facilisis in sapien ac dui. Sed curabitur urna senectus senectus dapibus tristique. Magna pretium elit netus velit leo facilisis dignissim bibendum eleifend. Non consectetur proin neque in cras lobortis.
                    Lorem ipsum dolor sit amet consectetur. Scelerisque egestas id lectus facilisis in sapien ac dui. Sed curabitur urna senectus senectus dapibus tristique. Magna pretium elit netus velit leo facilisis dignissim bibendum eleifend. Non consectetur proin neque in cras lobortis.
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur. Scelerisque egestas id lectus facilisis in sapien ac dui. Sed curabitur urna senectus senectus dapibus tristique. Magna pretium elit netus velit leo facilisis dignissim bibendum eleifend. Non consectetur proin neque in cras lobortis.
                    </p>
                </div>

            <div>
            <p>Box 2</p>
            </div>

            </div>
        </div>

        <div class="StartPage-div2" id="section2">
            <h1>Våra Mallar</h1>
            <div class="StartPage-div-grid">
                <div>
                    <h1>Börja skapa med våra färdiga mallar</h1>
                    <p>Lorem ipsum dolor sit amet consectetur. Scelerisque egestas id lectus facilisis in sapien ac dui. Sed curabitur urna senectus senectus dapibus tristique. Magna pretium elit netus velit leo facilisis dignissim bibendum eleifend. Non consectetur proin neque in cras lobortis.
                    Lorem ipsum dolor sit amet consectetur. Scelerisque egestas id lectus facilisis in sapien ac dui. Sed curabitur urna senectus senectus dapibus tristique. Magna pretium elit netus velit leo facilisis dignissim bibendum eleifend. Non consectetur proin neque in cras lobortis.
                    Lorem ipsum dolor sit amet consectetur. Scelerisque egestas id lectus facilisis in sapien ac dui. Sed curabitur urna senectus senectus dapibus tristique. Magna pretium elit netus velit leo facilisis dignissim bibendum eleifend. Non consectetur proin neque in cras lobortis.
                    Lorem ipsum dolor sit amet consectetur. Scelerisque egestas id lectus facilisis in sapien ac dui. Sed curabitur urna senectus senectus dapibus tristique. Magna pretium elit netus velit leo facilisis dignissim bibendum eleifend. Non consectetur proin neque in cras lobortis.
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur. Scelerisque egestas id lectus facilisis in sapien ac dui. Sed curabitur urna senectus senectus dapibus tristique. Magna pretium elit netus velit leo facilisis dignissim bibendum eleifend. Non consectetur proin neque in cras lobortis.
                    </p>
                </div>

                <div>
                    <p>Box 2</p>
                </div>
            </div>
        </div>

        <div class="StartPage-div3" id="section3">
            <h1>Möt Teamet</h1>
                 <div class="StartPage-div-grid2">
                <div>
                    <h1 class="a-team">We are the a-team</h1>
                <div class="StartPage-div-teamet">
                <div>
                    <img src="https://cdn2.thecatapi.com/images/MTYzMzE4MQ.jpg" alt="Katt">
                </div>
                <div>
                    <img src="https://cdn2.thecatapi.com/images/btu.jpg" alt="Katt">
                </div>
                <div>
                    <img src="https://cdn2.thecatapi.com/images/9ha.jpg" alt="Katt">
                </div>
                <div>
                    <img src="https://cdn2.thecatapi.com/images/MjAzMzQ0NA.jpg" alt="Katt">
                </div>
                <div>
                    <img src="https://cdn2.thecatapi.com/images/NHiuHD4Ax.jpg" alt="Katt">
                </div>
            </div>

                <div class="StartPage-div-teamet">
                    
                    <div><p>Andreas</p>
                        <ul>
                            <li>Tycker om: Kod</li>
                            <li>Avskyr: Rödbetor</li>
                        </ul>
                    </div>
                    <div><p>Felix</p>
                        <ul>
                            <li>Tycker om: Glas</li>
                            <li>Avskyr: Kaviar</li>
                        </ul>
                    </div>
                    <div><p>Olle</p>
                        <ul>
                            <li>Tycker om: Glas</li>
                            <li>Avskyr: Kaviar</li>
                        </ul>
                    </div>
                    <div><p>Ulf</p>
                        <ul>
                            <li>Tycker om: Glas</li>
                            <li>Avskyr: Kaviar</li>
                        </ul>
                    </div>
                    <div>
                        <p>Angelia</p>
                        <ul>
                            <li>Tycker om: Iskallt vatten</li>
                            <li>Avskyr: vatten</li>
                        </ul>
                    </div>
                </div>

</div>
</div>
</div>

<div class="StartPage-div4" id="section4">
   <h1>ZoCom</h1>
        <div class="StartPage-div-grid">
            <div>
                 <h1>Vi på ZoCom</h1>
            </div>
            <div>
                    <h1>Börja skapa med våra färdiga mallar</h1>
                    <p>Lorem ipsum dolor sit amet consectetur. Scelerisque egestas id lectus facilisis in sapien ac dui. Sed curabitur urna senectus senectus dapibus tristique. Magna pretium elit netus velit leo facilisis dignissim bibendum eleifend. Non consectetur proin neque in cras lobortis.
                    Lorem ipsum dolor sit amet consectetur. Scelerisque egestas id lectus facilisis in sapien ac dui. Sed curabitur urna senectus senectus dapibus tristique. Magna pretium elit netus velit leo facilisis dignissim bibendum eleifend. Non consectetur proin neque in cras lobortis.
                    Lorem ipsum dolor sit amet consectetur. Scelerisque egestas id lectus facilisis in sapien ac dui. Sed curabitur urna senectus senectus dapibus tristique. Magna pretium elit netus velit leo facilisis dignissim bibendum eleifend. Non consectetur proin neque in cras lobortis.
                    Lorem ipsum dolor sit amet consectetur. Scelerisque egestas id lectus facilisis in sapien ac dui. Sed curabitur urna senectus senectus dapibus tristique. Magna pretium elit netus velit leo facilisis dignissim bibendum eleifend. Non consectetur proin neque in cras lobortis.
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur. Scelerisque egestas id lectus facilisis in sapien ac dui. Sed curabitur urna senectus senectus dapibus tristique. Magna pretium elit netus velit leo facilisis dignissim bibendum eleifend. Non consectetur proin neque in cras lobortis.
                    </p>
                </div>
    </div>
</div>
        
        <div class="StartPage-div5" id="section5">
            <h1>Kontakt</h1>
                 <div class="StartPage-div-grid">
                <div>
                    <h1>Kontakta Oss</h1>
                    <p>Lorem ipsum dolor sit amet consectetur. Scelerisque egestas id lectus facilisis in sapien ac dui. Sed curabitur urna senectus senectus dapibus tristique. Magna pretium elit netus velit leo facilisis dignissim bibendum eleifend. Non consectetur proin neque in cras lobortis.
                    Lorem ipsum dolor sit amet consectetur. Scelerisque egestas id lectus facilisis in sapien ac dui. Sed curabitur urna senectus senectus dapibus tristique. Magna pretium elit netus velit leo facilisis dignissim bibendum eleifend. Non consectetur proin neque in cras lobortis.
                    Lorem ipsum dolor sit amet consectetur. Scelerisque egestas id lectus facilisis in sapien ac dui. Sed curabitur urna senectus senectus dapibus tristique. Magna pretium elit netus velit leo facilisis dignissim bibendum eleifend. Non consectetur proin neque in cras lobortis.
                    Lorem ipsum dolor sit amet consectetur. Scelerisque egestas id lectus facilisis in sapien ac dui. Sed curabitur urna senectus senectus dapibus tristique. Magna pretium elit netus velit leo facilisis dignissim bibendum eleifend. Non consectetur proin neque in cras lobortis.
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur. Scelerisque egestas id lectus facilisis in sapien ac dui. Sed curabitur urna senectus senectus dapibus tristique. Magna pretium elit netus velit leo facilisis dignissim bibendum eleifend. Non consectetur proin neque in cras lobortis.
                    </p>
                </div>

                <div>
                    <p>Karta</p>
                </div>
            </div>
        </div>
</div>
