<div class="StartPage">
    <div class="StartPage-div0" id="Home">
        <div class="StartPage-div0-text">
            <h1>PUBLIC</h1>
            <h4>Enkelt att skapa, Kraftfullt att publicera</h4>
        </div>
    </div>
</div>

<div class="StartPage-div1" id="Specs">
        <div class="grid-container">
            <div class="grid-item">
                <h2>Om Verktyget</h2>
                <p>
                    "Med vårt kraftfulla och användarvänliga CMS kan du enkelt skapa, redigera och hantera din webbsida utan tekniska kunskaper.
                    Spara tid och resurser genom att publicera innehåll med bara några klick, och håll din webbplats uppdaterad med det senaste innehållet.
                    Vårt CMS är skalbart och anpassningsbart, vilket gör det perfekt för både små företag och stora organisationer.
                    Ge din webbplats ett professionellt utseende och engagera dina besökare med dynamiskt innehåll – allt från ett ställe."
                </p>
            </div>

            <div class="grid-item">
                <img class="imgdator1" src="Image/LandingPage.png" alt="Data" />
            </div>
        </div>
    </div>

<div class="StartPage-div2" id="Templates">
        <h2>Våra Mallar</h2>
        <div class="grid-container">
            <div class="grid-item">
                <img class="imgdator" src="Image/public-mall.png" alt="Data" />
            </div>

            <div class="grid-item">
                <h4>Börja skapa med våra färdiga mallar</h4>
                <p>
                    Spara tid och resurser genom att publicera innehåll med bara några klick, och håll din webbplats uppdaterad med det senaste innehållet.
                    Vårt CMS är skalbart och anpassningsbart, vilket gör det perfekt för både små företag och stora organisationer.
                    Ge din webbplats ett professionellt utseende och engagera dina besökare med dynamiskt innehåll – allt från ett ställe.
                </p>
            </div>
        </div>
    </div>

<div class="StartPage-div3" id="Team">
        <h2>Lär känna teamet bakom Public</h2>
        <div class="StartPage-div-grid2">
            <div class="team-member">
                <div class="team-member-content">
                <img src="Image/Andreas-Bild.png" alt="Andreas Hohwü-Christensen">
                <p>Andreas Hohwü-Christensen</p>
                <ul>
                    <li>Roll: Fullstackutvecklare & Testare</li>
                    <li><a href="https://www.linkedin.com/in/andreas-hohw%C3%BC-christensen-662311240/" target="_blank">LinkedIn-profil</a></li>
                </ul>
                </div>
            </div>

        <div class="team-member">
            <div class="team-member-content">
            <img src="Image/Angelia-Bild.png" alt="Angelia Burgos Zamora">
             <p>Angelia Burgos Zamora</p>
            <ul>
                <li>Roll: Fullstackutvecklare/UX & Produktägare</li>
                <li><a href="https://www.linkedin.com/in/angelia-burgos-zamora/" target="_blank">LinkedIn-profil</a></li>
            </ul>
            </div>
        </div>

            <div class="team-member">
                <div class="team-member-content">
                <img src="Image/Felix-Bild.jpg" alt="Felix Edenborgh">
                <p>Felix Edenborgh</p>
                <ul>
                    <li>Roll: Fullstackutvecklare & Scrum Master</li>
                    <li><a href="https://www.linkedin.com/in/felix-edenborgh/" target="_blank">LinkedIn-profil</a></li>
                </ul>
                 </div>
            </div>

            <div class="team-member">
                <div class="team-member-content">
                <img src="Image/Olle-Bild.png" alt="Olle Tengnér">
                <p>Olle  Tengnér</p>
                <ul>
                    <li>Roll: Fullstackutvecklare</li>
                    <li><a href="https://www.linkedin.com/in/olle-tengn%C3%A9r-331835175/" target="_blank">LinkedIn-profil</a></li>
                </ul>
                </div>
            </div>

            <div class="team-member">
                <div class="team-member-content">
                <img src="Image/Ulf-Bild.png" alt="Ulf Bourelius">
                <p>Ulf Bourelius</p>
                <ul>
                    <li>Roll: Fullstackutvecklare</li>
                    <li><a href="https://www.linkedin.com/in/ulf-bourelius-a9090248/" target="_blank">LinkedIn-profil</a></li>
                </ul>
                </div>
            </div>

        </div>
    </div>

 
    <!-- ZoCom och Varför välja oss på samma rad -->
<div class="main-section" id="Zocom">
    <div class="StartPage-div4">
        <!-- Flyttade bakgrundsfärgen hit -->
        <div class="StartPage-div-grid4">
            <article class="about-us">
                <h2>Vi på ZoCom</h2>
                <p>
                    På ZoCom är vi passionerade för att skapa framtidens lösningar inom webb- och systemutveckling. Vi driver inte bara framgångsrika kundprojekt, utan satsar även på egna innovationer och utbildningsinitiativ inom IT. Hos oss får du vara en del av en arbetsplats där utveckling, både teknisk och personlig, står i centrum.
                </p>
            </article>

            <article class="why-choose-us">
                <h2>Varför välja oss?</h2>
                <p>- Innovativa projekt och tekniker</p>
                <p>- En platt organisation med mycket inflytande</p>
                <p>- Stark laganda och gemenskap</p>
                <p>- Flexibilitet och anpassade arbetssätt</p>
            </article>
        </div>
    </div>
</div>

<div class="StartPage-div5" id="Contact">
        <div class="StartPage-div-grid">
            <div class="StartPage-div5-Contact">
                <h1>PUBLIC</h1>
                <h2>En del av</h2>
                <img class="imgdator2" src="Image/original.png" alt="ZoCom">
            </div>

            <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2034.4876903995112!2d18.062908377358962!3d59.34150667462018!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f9d5933694841%3A0x5d27828df9e3f4cf!2sZoCom!5e0!3m2!1ssv!2sse!4v1726471546780!5m2!1ssv!2sse"
                        class="map-iframe"
                        allowfullscreen="true"
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
    </div>


