@page "/user"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

@attribute [Authorize(Roles = "User, Admin")]

<h3>User Page</h3>

<p>Välkommen, användare! Här kan du hantera dina inställningar och se ditt innehåll.</p>

<h1>You are authenticated</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView>

@code {
    // Eventuell användarspecifik logik
}
