<style>
    footer {
        background-color: #343a40; /* Dark gray */
        color: white;
        text-align: center;
        padding: 10px 0;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
</style>
<footer>
    <div class="container">
        <p>&copy; 2024 Code Monkeys.</p>
    </div>
</footer>


@code{

}