@using CodeMonkeys.CMS.Public.Services
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase


<CascadingAuthenticationState>
    <div class="page">
        @if (MenuConfiguration.IsEnabled)
        {
            <NavMenu />
        }
        <main class="mt-5">
            <article class="content">
                @Body
            </article>
        </main>
    </div>
    @if (MenuConfiguration.IsEnabled)
    {
        <footer class="footer">
            <!-- Here we added the class="footer" -->
            <div class="info">
                <p>&copy; 2024 Code Monkeys</p>
            </div>
        </footer>
    }
</CascadingAuthenticationState>

@inject NavigationManager Navigation
@inject MenuConfigurationService MenuConfiguration

@code {
    protected override void OnInitialized()
    {
        MenuConfiguration.NotificationActions.Add(StateHasChanged);
        base.OnInitialized();
    }

    private void notify()
    {
        StateHasChanged();
    }
}