@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase


<CascadingAuthenticationState>
    <div class="page">
        @if (showNavigation)
        {
            <NavMenu />
        }
        <main class="mt-5">
            <article class="content">
                @Body
            </article>
        </main>
    </div>
    <footer class="footer">
        <!-- Flex container for the two sections -->
        <div class="footer-content">
            <!-- Left side of the footer -->
            <div class="footer-left">
                <p>ZoCom AB</p>
                <p>Telefon nummer: 08 45 631 71</p>
                <p>Org.nr. 556861-3318</p>
                <a href="https://www.zocom.com">Zocom</a>
            </div>

            <!-- Right side of the footer -->
            <div class="footer-right">
                <p>Kom & Besök oss på något av våra kontor:</p>
                <p>Stockholmskontoret:</p>
                <p>Birger Jarlsgatan 58, 114 29 Stockholm</p>
                <p>Göteborgskontoret:</p>
                <p>Vallgatan 25, 411 16 Göteborg</p>
            </div>
        </div>

        <!-- Copyright centered at the bottom -->
        <div class="footer-copyright">
            <p>&copy; 2024 Code Monkeys</p>
        </div>
    </footer>


</CascadingAuthenticationState>

@inject NavigationManager Navigation

@code {
    private bool showNavigation = true;

    protected override void OnInitialized()
    {
        // Determine the current page and set showNavMenu accordingly
        var uri = Navigation.ToBaseRelativePath(Navigation.Uri).ToLower();

        // Example: Hide NavMenu on specific page
        if (uri.ToLower().StartsWith("content"))
        {
            showNavigation = false;
        }
    }
}