<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Baskervville:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="CMS.styles.css" />
    <link rel="stylesheet" href="CodeMonkeys.CMS.Public.styles.css" />




    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>

</html>
