

.grid-container {
  
  /* display: grid; */
  grid-template-columns: 1fr 400px;
  /* Box 3 är nu 400px bred */
  gap: 0px;
  /* Avstånd mellan rutorna */
}

.vertical-container {
  display: flex;
  flex-direction: column;
  /* Ställ in riktningen till kolumn för att stapla boxarna */
  flex-grow: 1;
  /* Tillåt att denna container växer i bredd */
}

.box {
  padding: 20px;
  flex-grow: 1;
  /* Låt boxarna växa för att fylla den återstående bredden */
}

.box h4 {
  text-align: center;
}

.box1 {
  background-color: lightblue;
  /* För box1 */
  min-height: 300px;
}

.box2 {
  background-color: lightgreen;
  /* För box2 */
  min-height: 300px;
}

.box4 {
  background-color: rgb(144, 175, 238);
  /* För box4 */
  min-height: 250px;
}

.box3 {
  background-color: lightcoral;
  /* För box3 */
  width: 400px;
  /* Fasta bredden för box3 */
  overflow: auto;
  /* Tillåt scrollning om innehållet överskrider boxens höjd */
}

.list-container input {
  /* Se till att inga regler åsidosätter inline-styling */
  font-size: inherit;
  text-align: inherit;
}

.list-container ul {
  list-style-type: none;
  /* Remove bullet points */
  padding: 0;
  /* Optional: Remove padding */
  margin: 0;

  /* Optional: Remove margin */
}
.Toolbaren{
  position: fixed;
    top: 170px;
    left: 95%;
    transform: translate(-50%, -50%);
    padding: 13px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
}
.bilden {
  position: fixed;
  top: 375px;
  left: 95%;
  transform: translate(-50%, -50%);
  padding: 13px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000;
}

.color-picker {
  position: fixed;
  top: 156px;
  left:10%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000;
  /* Ensure it is above other content */
}

.TextEditor {
  position: fixed;
  top:38%;
  left: 8%;
  transform: translate(-50%, -50%);
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000;
}


.imageinpage {
  margin-top: 40px;
  margin-left: 400px;
  margin-bottom: 20px;
  position: fixed;
  transform: translate(-50%, -50%);
  display: flex;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000;
}
.imageinpage label {
  margin: 10px;
  /* Space between label and input */
}


