@page "/sites"
@using CodeMonkeys.CMS.Public.Shared.Services
@using CodeMonkeys.CMS.Public.Components.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity

@inherits AuthenticationBaseComponent<SiteIndex>
@rendermode InteractiveServer

<PageTitle>Sites Overview</PageTitle>

<UserView>
    <UserViewHeader>
        <h1>Sites Overview</h1>
    </UserViewHeader>
    <ChildContent>
        <div class="sites-row">
            @foreach(var site in Sites)
            {
            <SiteBoxComponent Site="@site" />
            }
        </div>
    </ChildContent>
</UserView>

@code
{
    private IEnumerable<Site> Sites = [];

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Sites = await SiteService.GetUserSitesAsync(User!.Id);
    }
}