@page "/svampbob"

<style>
    body, html {
        margin: 0;
        padding: 0;
        font-family: 'Segoe UI', Arial, sans-serif;
        background-color: #FFD700; /* Mörkgul, liknande guld */
        color: white; /* Sätter textfärgen till vit */
    }

    .header, .footer {
        background-color: #007bff; /* En ljus nyans av blå */
        color: white;
        padding: 10px 0;
        text-align: center;
    }

    .navbar a {
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        display: inline-block;
    }

    .navbar a:hover {
        background-color: #0056b3; /* Mörkare nyans av blå för hover-effekt */
    }

    .content {
        padding: 20px;
        text-align: left;
    }

    .footer {
        position: fixed;
        width: 100%;
        bottom: 0;
    }
</style>

<div class="header">
    <div class="navbar">
        <a>Home</a>
        <a>About</a>
        <a>Contact</a>
    </div>
</div>

<div class="content">
    <h1>Home</h1>
    <p>SvampBob Fyrkant är en animerad TV-seriefigur som bor i en ananas under havet. Serien följer hans äventyr och vardagsliv tillsammans med hans vänner och kollegor i den undervattensstaden Bikinibotten. SvampBob är känd för sin evigt optimistiska natur och sin förmåga att alltid se det bästa hos alla och allt, vilket ofta leder till roliga och hjärtevärmande situationer.</p>
</div>

<div class="footer">
    &copy; Copyrighted by Zocom
</div>
