@inherits BaseComponent<UserViewer>
@rendermode InteractiveServer

@if (IsLoading)
{
    <div class="loading">
        <div class="spinner">Loading...</div>
    </div>
}
else
{
    <div class="user-view">
        <StatusMessage />

        @ChildContent
    </div>
}