@using CodeMonkeys.CMS.Public.Components.Account.Shared
@inherits BaseComponent<UserViewer>
@rendermode InteractiveServer

@if (IsLoading)
{
    <div class="loading">
        <div class="spinner">Loading...</div>
    </div>
}
else
{
    <div class="user-view">
        <div class="backbutton">
            @* TODO: Fix the html anchor/button *@
            <a href="javascript:history.back()"><button>Gå tillbaka</button></a>
        </div>
        <StatusMessage />

        @if (UserViewHeader != null)
        {
            <div class="user-view-header">
                @UserViewHeader
            </div>
        }

        @ChildContent
    </div>
}