@inherits BaseComponent<VisitorViewer>
@rendermode InteractiveServer

@if (IsLoading)
{
    <div class="loading">
        <div class="spinner">Loading...</div>
    </div>
}
else
{
    <div class="visitor-view">
    @if(PageTitle!=null){
        <header>
            <h1>@PageTitle</h1>
        </header>
    }
       
        <div class="visitor-body">
            @ChildContent
        </div>
    </div>
}