/* Grundläggande stil */
.webpages-card, .webpages-card-header {
    background-color: #f8f9fa;
}

.webpages-card {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.webpages-card-header {
    border-bottom: 1px solid #dee2e6;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.75rem 1.25rem;
    text-align: center;
}

.webpages-card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.webpages-card-footer, .webpages-card-header {
    border-top: 1px solid #dee2e6;
}

.webpages-card-footer {
    font-size: 0.85rem;
    text-align: center;
    padding: 0.75rem 1.25rem;
}

.webpages-card-actions {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 1.25rem;
}

.webpages-btn {
    width: 48%;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.webpages-row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}

.webpages-col-md-8 {
    width: 100%;
    max-width: 66.6666%;
    padding-right: 15px;
    padding-left: 15px;
}

/* Content Layout */
.Content_Layout {
    background-color: #f9f9f9; /* Ensure this section remains unaffected */
    padding: 15px;
    border: 1px solid #ccc;
    padding-top: 30px; /* Adjusted to prevent overlap with toolbar */
    padding-right: 300px; /* Reserve space for the toolbar */
}

/* Toolbar Styles */
.toolbar {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
}

    .toolbar label {
        margin-right: 5px;
    }

/* Content Block */
.content-block {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    margin-bottom: 20px;
}

/* Styled Content Block */
#styled-content {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    margin-bottom: 20px;
}

/* Mobile and Smaller Screen Adjustments */
@media (max-width: 991.98px) {
    .Content_Layout {
        padding-right: 0; /* Remove right padding on smaller screens */
    }
}

@media (max-width: 767.98px) {
    .webpages-card {
        box-shadow: none;
        border: none;
    }

    .webpages-card-body {
        padding: 1rem;
    }

    .webpages-card-actions {
        flex-direction: column;
        padding: 0.5rem 1rem;
    }

    .webpages-btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .webpages-empty-box {
        height: 120px;
    }
}

/*Content_placment*/

.Content_Layout {
    padding-top: 30px;
}